@font-face {
    font-family: "YoungSerif";
    src: url(font/YoungSerif-Regular.ttf);
}

* {
    font-family: "YoungSerif";
}

.container{
    width: 100% !important;
}

.navbar {
    height: 80px;
    background-color: #00B3A6 !important;
}

.navbar-brand {
    font-size: 30px;
    color: #fff;
}

.navbar-brand:hover {
    color: white;
}

.btn-primary,
.btn-primary:hover,
.btn-primary:active {
    background-color: #00B3A6;
    border-color: #00B3A6;
}

.swal2-actions,
.swal2-confirm {
    width: 90% !important;
}

